.vignette {
  display: flex;
  align-items: center;
  max-width: 600px;
  border: 2px solid lightgray;
  border-radius: 3px;
  min-height: 100px;
  gap: 30px;
  text-align: start;
  align-items: center;
  background-color: lightgray;
  justify-content: space-around;
}
.vignetteContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.listContainer {
  max-width: 50px;
  font-size: 14px;
  white-space: nowrap;
  list-style: none;
}
.campingCarName {
  max-width: 120px;
}

.campingCarImage {
  margin-left: 10px;
  width: 80px;
  border-radius: 50%;
}
